:root {
  --size: 110vh;
  --boxShadow: calc(var(--size) / 12);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  z-index: 1;
  width: 300px; /* Размер можно настроить по необходимости */
  height: 300px; /* Размер можно настроить по необходимости */
  background-color: transparent; /* Устанавливаем прозрачный фон для кольца */
  border: 3px solid white; /* Выбираем цвет и толщину границы по необходимости */
  border-radius: 50%; /* Сделает div круглым */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em; /* Размер текста можно настроить по необходимости */
  font-family: Arial, sans-serif; /* Выбираем шрифт */
  filter: url('#wavy'); /* Применяем SVG фильтр "wavy" */
  color: red; /* Делаем текст красным */
  animation: move 5s linear infinite;
}

@keyframes move {
  0% {
    box-shadow: 0 0 var(--boxShadow) #0f0;
    filter: hue-rotate(0deg);
  }
  /* ... другие ключевые кадры ... */
  100% {
    box-shadow: 0 0 var(--boxShadow) #0f0;
    filter: hue-rotate(360deg);
  }
}

svg { display: none; } /* Если не используем SVG, скроем его */
